/* Layout */
html, body {width: 100%; height: 100%; margin: 0; padding: 0;}

#mapcontainer {width: 100%; height: 100%; position: relative;}

#map {width: 100%; height: 100%;}

/* Geocoder */
#geocoder {position: absolute; top: 10px; left: 55px; z-index: 500;}
#geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
#geocoder input.ui-autocomplete-loading {background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;}
#geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
body .ui-front {z-index: 1000;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}
